h1, h2, h3, h4, h5, h6{
    color: #fff;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.menu{
	margin-bottom: 30px;
}

.location-container{
	height: 100%;
}

#header{
	position: static;
}

.gotitle{
	float: left;
	padding-left: 20px;
	font-size: 24px;
	padding-top: 10px;
}

.gohome a .fa, .gomenu a .fa {
    font-size: 22px;
    margin: 10px 0px 0px;
}

.loc-container {
    padding-left: 75px;
    position: relative;
    padding-right: 70px;
}

.loc-container .loc-thumb {
    position: absolute;
    top: 0px;
    left: -5px;
}

.loc-thumb img {
    border-radius: 40px;
}

.loc-title{
	font-size: 20px;
	font-weight: bold;
}
.loc-address, .loc-city, .loc-state, .service-type{
	font-size: 15px;
}

.loc-distance{
    position: absolute;
    right: 10px;
    top: 20px;
}

.service-container {
    padding-left: 80px;
    position: relative;
}

.service-container .service-thumb {
    position: absolute;
    top: 0px;
    left: -5px;
}

.service-thumb img {
    border-radius: 40px;
    width:80px;
    height:80px;
}

.service-title{
	font-size: 20px;
	font-weight: bold;
    padding-top: 20px;
    padding-right: 25px;
}

.service-details{
    position: absolute;
    right: 5px;
    top: 28px;
    font-size: 20px;
}

.page-content{
    padding:5px;
}

#footer{
	width: 100%;
	height: 40px;
	padding: 6px 0%;
	background-color: #592e1c;
	color: #FFFFFF;
}

.footer-left{
	float: left;
	padding: 10px;
}

.footer-right{
	float: right;
	padding: 10px;
}

.footer-logo{
    height: 50px;
    margin-bottom: -20px;
}

.button{
	padding: 10px 15px;
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
    font-size:20px;
    background-color: black;
    opacity: 0.7;
}

.loader .fa-spin {
    font-size:25px;
}

.loader .loader-content{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.hour-bottom > span {
    position: relative;
    font-weight: bold;
}

.colorDefinition {
    font-size: 35px;
}

.swiper-slide{
    overflow: auto;
}

.swiper-pagination-switch{
    width: 15px;
    height: 5px;
    background: #5C5C5C;
    opacity:1;
}
.swiper-active-switch {
background: #fff;
}

.offer-details{
    padding: 0px 10px 10px 10px;
}

.offer-details .title, .offer-details .details, .offer-details .sub-details{
    padding-bottom: 10px;
}

.hour-bottom{
    padding-top: 5px;
}

.image_single{
    background-color: transparent;
    border: 1px solid transparent;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* iPhone slide effect */
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

.form_input{
    padding: 2%;
    width: 95.5%;
}

.service-page .form_input{
    width: 95.5%;
}

.form_submit{
    padding: 2% 0 2% 0;
}

.facebook-color{
    background-color: #3b5998;
}

.form-or{
    padding: 10px 0px 5px;
}

.noresult{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
}

.button-badge{
    position:relative;
}

.button-badge .badge-text{
    border: 0;
    border-radius: 5em;
    background: #fd472b;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    top: 0;
    right: -8px;
    line-height: 2em;
    margin-left: .5em;
    min-width: .9em;
    padding: 0 .55em;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    height: 2em;
    font-size: .6rem;
    text-shadow: none;
}
.service-page{
    padding: 10px;
}

.swiper-container .image_single{
    margin-bottom: 0px;
}

.service-list .service-item{
    padding-top: 0px;
}

.service-item{
    position: relative;
    padding-right: 30px;
}

.service-item .when{
    padding-top: 0px;
    margin-left: 5px;
    padding-bottom: 10px;
}

.service-item .title{
    margin-left:5px;
    margin-right: 0px;
    padding-bottom: 0px;
}

.service-item .remove{
    margin-top: 8px;
    margin-right: 9px;
    font-size: 18px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.footer-buttons{
    clear: both;
}

.user-thumb {
    text-align:center;
}

.user-details{
    text-align:center;
}

.user-thumb img{
    width: 120px;
    height: 120px;
    border-radius: 70px;
}

.user-details .user-name, .user-details .user-loc{
    padding-bottom: 0px;
}

.user-loc, .user-email, .user-status{
    font-size: 13px;
}

.user-details .user-email, .user-status{
    padding-bottom: 0px;
    padding-top: 0px;
}

.user-stats{
    clear:both;
    height:50px;
    font-size: 15px;
    margin-top: 10px;
}

.user-paid,.user-points,.user-pending, .user-value{
    width:25%;
    float: left;
}

.user-paid .number,.user-points .number,.user-pending .number, .user-value .number{
    font-weight: bold;
}

.menu.user ul li{
    padding:4% 0 0 0;
}

.menu.user{
    margin-left: -4%;
}

.visits .post_right_reveal .title{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight:bold;
}

.visits .post_left{
    width:30%;
}

.visits .post_right_reveal{
    left: 30%;
    width: 65%;
}

.visits span.month{
    font-size:14px;
}

.visit-title{
    padding-bottom:10px;
}

ul.posts.visits li.post,.visits .post_right_reveal,.visits .post_right_unreveal,.visits .post_left,.visits .post_more{
    height: 90px;
}
.form_select{
    width:100%;
}

.button-feedback{
    width: 30px !important;
    padding: 10px 10px;
}

.popup-close{
    position: absolute;
    right: 15px;
    top: 0px;
    cursor: pointer;
}

.count-down{
    margin-top:20px;
}

.visit-feedback{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.fb-buttons{
    margin-top: 10px;
}

/* Rating css */
.rating .br-widget {
    height: 52px;
}

.rating .br-widget a {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    background-color: #e3e3e3;
    margin: 2px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #575757;
}

.rating .br-widget a.br-active,
.rating .br-widget a.br-selected {
    background-color: #59a6d6;
    color: white;
}

.logo a{
    line-height:35px;
}

.menu ul li{
	width: 25%;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 15px;
}

/* kendo theme chagnes */
.km-list>li{
	background-color: #2a1912;
	color: #fff;
	min-height: 105px;
}

#catlist>li{
	background-color: #2a1912;
	color: #fff;
	min-height: 100px;
    padding: 10px;
    border-bottom: 1px solid rgba(46,46,46,0.2);
}

#catlist>li:active{
    background-color:#472F24;
}

.km-widget, .km-content, .km-popover-root .km-content .km-widge{
	background-color: #2a1912;
}

.km-view,.km-navbar,.km-widget, .km-content, .km-popover-root .km-content .km-widget{
    color:#fff;
}

.km-navbar{
    background-color: #592e1c;
}

.km-view-title{
    font-weight: bold;
}

li.ng-scope.listview-selected{
	background-color:#472F24;
}
