<?xml version='1.0' encoding='utf-8'?>
<widget id="com.customermantra.walkinbeauty" version="1.0.4" android-versionCode="10004" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Walk In Beauty</name>
    <description>
        Stress, Deadlines, anxiety and ambition are all part and parcel of our lives. The desire to do "MORE" to achieve a "Little MORE" actually takes a toll on our Mind, Body and Soul.
    </description>
    <author email="info@twelve77.com" href="http://www.customermantra.com/">
        CustomerMantra
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
</widget>
