<div id="header">
    <div class="gohome radius20"><a href="javascript:void(0)" ng-click="goBack()"><i class="fa fa-arrow-left"></i></a></div>
    <div class="gotitle">Feedback</div>
</div>
<div class="page-content">
    <form name="form">
        <h4><span data-bind="text:SurveyName"></span></h4>
        <div ng-repeat="sueveryque in SurvayQuestions">
            <div class="input select rating" ng-if="sueveryque.AnswerType == 0">
                <label for="rating">{{sueveryque.Question}}</label>
                <select id="{{sueveryque.QuestionID}}" class="feedrating" name="rating">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div ng-if="sueveryque.AnswerType == 1">
                <label>{{sueveryque.Question}}</label>
                <input type="text" class="form_input" ng-model="sueveryque.Answer">
            </div>
        </div>
        <h4>Service Feedback</h4>
        <div ng-repeat="serviceque in ServiceQuestions">
            <div class="input select rating" ng-if="serviceque.AnswerType == 0">
                <label for="rating">{{serviceque.Question}}</label>
                <select id="{{serviceque.QuestionID}}" class="feedrating" name="rating">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div ng-if="serviceque.AnswerType == 1">
                <label>{{serviceque.Question}}</label>
                <input type="text" class="form_input" ng-model="serviceque.Answer">
            </div>
        </div>
        <a class="button_11 blue" href="javascript:void(0)" ng-click="sendFeedback()">Send Feedback</a>
    </form>
</div>