<div id="header">
    <div class="gohome radius20"><a href="javascript:void(0)" ng-click="goBack()"><i class="fa fa-arrow-left"></i></a></div>
    <div class="gotitle">My Visits</div>
</div>
<div class="page-content">
    <div class="toogle_wrap_blog">
        <div class="trigger_blog"><a href="#">Filter options</a></div>
        <div class="toggle_container_blog" style="display: none;">
            <div class="form">
                <form name="form" ng-submit="getMyVisits()" novalidate>
                    <label>From</label>
                    <input type="date" name="from" id="from" class="form_input" ng-model="StartDate" required/>
                    <div ng-show="form.from.$dirty && form.from.$invalid">
                        Invalid:
                        <span ng-show="form.from.$error.required">This field is required</span>
                    </div>
                    <label>to</label>
                    <input type="date" name="to" id="to" class="form_input" ng-model="EndDate" required />
                    <div ng-show="form.to.$dirty && form.to.$invalid">
                        Invalid:
                        <span ng-show="form.to.$error.required">This field is required</span>
                    </div>
                    <label>Bill Status</label>
                    <select id="dropdown" class="form_input form_select" ng-model="selectedBillOption" ng-options="option.text for option in billOptions"></select>
                    <input type="submit" class="form_submit darkblue" ng-disabled="form.$invalid" value="Filter" />
                </form>
            </div>
        </div>
    </div>
    <div class="text-center" ng-if="FutureVisits.length == 0 && PastVisits.length == 0 && !loading">
        <h4 class="visit-title text-center">No visit information found</h4>
    </div>
    <div ng-if="!loading">
        <h5 class="visit-title">Total Amount: {{TotalAmount}}, Pending Amount: {{PendingAmount}}</h5>
    </div>
    <div ng-if="FutureVisits.length > 0">
        <h4 class="visit-title">Upcoming Visits</h4>
    </div>
    <ul class="posts visits">
        <li class="post" style="display: list-item;" ng-repeat="fvisit in FutureVisits">
            <div class="post_right_reveal">
                <h3 class="title">{{fvisit.ServiceName}}</h3>
                <div><span>with {{fvisit.ResourceFirstName}} {{fvisit.ResourceLastName}}</span></div>  
                <div><span>{{fvisit.StartTime}} to {{fvisit.EndTime}}</span></div>
            </div>
            <div class="post_left">
                <span class="day">{{fvisit.Day}}</span>
                <span class="month">{{fvisit.ShortDate}}</span>
            </div>
        </li>
    </ul>
    <div ng-if="PastVisits.length > 0">
        <h4 class="visit-title">Past Visits</h4>
    </div>
    <ul class="posts visits">
        <li class="post" style="display: list-item;" ng-repeat="pvisit in PastVisits">
            <div class="post_right_reveal">
                <h3 class="title">{{pvisit.ServiceName}}</h3>
                <div><span>with {{pvisit.ResourceFirstName}} {{pvisit.ResourceLastName}}</span></div>
                <div><span>{{pvisit.StartTime}} to {{pvisit.EndTime}}</span></div>
                <div class="visit-feedback" ng-if="pvisit.BillID > 0">
                    <a class="button_12 button-feedback blue" href="javascript:void(0)" ng-click="openFeedback(pvisit)"><i class="fa fa-thumbs-up"></i></a>
                </div>
            </div>
            <div class="post_left">
                <span class="day">{{pvisit.Day}}</span>
                <span class="month">{{pvisit.ShortDate}}</span>
            </div>
        </li>
    </ul>
</div>