
<!--Menu page-->						
<div class="logo"><a href="#">{{ vendorName }}</a></div>

<div class="flexslider">
    <ul class="slides">
        <li ng-repeat="url in vendorslides">
            <img ng-src="{{url}}" alt="" title="" />
        </li>
    </ul>
</div>

<div class="menu">
	<ul>
		<li><a href="#locations"><img src="img/icons_contour/docs.png" alt="" title="" /><span>Locations</span></a></li>
		<li><a href="#services"><img src="img/icons_contour/menu.png" alt="" title="" /><span>Services</span></a></li>
		<li><a href="javascript:void(0)" ng-click="loadOffers()"><img src="img/icons_contour/blog.png" alt="" title="" /><span>Offers</span></a></li>
		<li><a href="#myinfo"><img src="img/icons_contour/about.png" alt="" title="" /><span>My info</span></a></li>
		<!--<li><a href="#contact"><img src="img/icons_contour/contact.png" alt="" title="" /><span>Contact</span></a></li>-->
	</ul>
	<div class="clearfix"></div>
</div>
<div class="text-center footer">
	<span>Powered by </span><img class="footer-logo" ng-src="{{footerURL}}"></div>