<div id="header">
    <div class="gohome radius20"><a href="#home"><img src="img/icons_contour/home.png" alt="" title="" /></a></div>
    <div class="gotitle">My Info</div>
    <div class="gomenu radius20"><a href="javascript:void(0)" ng-click="logoutUser()"><i class="fa fa-sign-out"></i></a></div>
</div>
<div class="page-content" ng-if="userDetails">
    <div class="user-info">
        <div class="user-thumb">
            <img ng-src="{{userDetails.userDP}}" onerror="this.src = 'img/not-available.png'" alt="location-thumb" title="" />
        </div>
        <div class="user-details" ng-if="userDetails">
            <h4 class="user-name">{{userDetails.FullName}}&nbsp;(ID: {{userDetails.UniqueID}})</h4>
            <h6 class="user-loc" ng-if="userDetails.City || userDetails.State"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{userDetails.City}}<span ng-if="userDetails.City && userDetails.State">,&nbsp;</span> {{userDetails.State}}</h6>
            <h6 class="user-email" ng-if="userDetails.Email || userDetails.Mobile"><i class="fa fa-envelope"></i>&nbsp;&nbsp;{{userDetails.Email}}<span ng-if="userDetails.Email && userDetails.Mobile">,&nbsp;</span> {{userDetails.Mobile}}</h6>
			<h6 class="user-status">Membership Status : <b ng-if="userDetails.isMembershipExpired">Inactive</b><b ng-if="!userDetails.isMembershipExpired">Active</b></h6>
			<h6 class="user-status">Value Card : <b ng-if="userDetails.isValueCardExpired">Inactive</b><b ng-if="!userDetails.isValueCardExpired">Active</b></h6>
        </div>
    </div>
    <blockquote class="user-stats">
        <div class="user-paid" ng-if="userDetails.TotalPaid">
            <div>Total Paid</div>
            <div class="number">{{ userDetails.TotalPaid }}</div>
        </div>
        <div class="user-points" ng-if="userDetails.TotalPoints">
            <div>Total Points</div>
            <div class="number">{{ userDetails.TotalPoints }}</div>
        </div>
        <div class="user-pending" ng-if="userDetails.PendingAmount">
            <div>Total Pending</div>
            <div class="number">{{ userDetails.PendingAmount }}</div>
        </div>
        <div class="user-value" ng-if="userDetails.ValueCardBalance">
            <div>Value Card Balance</div>
            <div class="number">{{ userDetails.ValueCardBalance }}</div>
        </div>
    </blockquote>
    <div class="menu user">
        <ul>
            <li><a href="javascript:void(0)" ng-click="gotoMyVisits()"><img src="img/icons_contour/calendar.png" alt="" title="" /><span>My Visits</span></a></li>
            <li><a href="javascript:void(0)" ng-click="gotoEditInfo()"><img src="img/icons_contour/pencil.png" alt="" title="" /><span>Edit My Info</span></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>